@media all and (max-width: 1199px){

}

@media all and (max-width: 991px){
	.mobile_bars{
        display: block;
    }
    .header { 
        flex-direction: column;
        position: relative;
    }
    .logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .mobile_bars i {
        color: #ffff;
        font-size: 24px;
    }
    .menu ul {
        flex-direction: column;
        background: #002E2D;
        width: 100%;
        padding: 35px 0;
    }
    .menu {
        position: absolute;
        top: 100%;
        width: 100%;
        display: none;
    }
    .banner_area {
        background: url(../images/mobile_hero.png) no-repeat scroll center center / cover;
    } 
    .banner {
        max-width: 100%;
    }
    .banner h2 { 
        font-size: 53px; 
    }
    .maps {
        flex-direction: column-reverse; 
        gap: 32px; 
    }
    .menu_icon {
        display: block;
    }
    .ideal_left_img img { 
        display: none;
    }
}

@media all and (max-width: 767px){ 
    .search_area {
        padding: 25px 0;
    }
    .package_img { 
        display: none;
    }
    .single_package { 
        height: inherit;
        margin-bottom: 24px;
    }
    .service_carousel { 
        margin-bottom: 48px;
    }
    .ideal_area { 
        margin-bottom: 48px; 
    }
    .service_carousel_box {
        padding-left: 24px;
    }
    .service_caraousel_left {
        display: none;
    }
    .ideal_left_img img { 
        display: none;
    }
    .mobile_view{
        display: block;
    }
    .service_title_header img {
        width: 24px !important;
    }
    .desktop_view{
        display: none;
    }
    .search_input {
        max-width: 100%; 
    } 
    .search_btn_1 {
        width: 100%;
    } 
    .second_search button span,
    .first_search{
        display: none;
    }
    .sube_btn,
    .registration_btn { 
        padding: 10px 24px; 
    }
    .search_input { 
        flex: 0 0 88%;
    }
    .banner {
        max-width: 512px;
        width: 100%;
        padding: 213px 0 40px 0;
    }
    .banner h2 { 
        font-size: 24px; 
        line-height: normal;
    }
    .banner p { 
        font-size: 16px; 
    }
    .map_area {
        padding: 48px 0 17px 0;
    }
    .footer_area {
        padding: 112px 0; 
    }
    .footer_copy_left {
        flex-direction: column-reverse;
        gap: 24px;
    }
    .footer_copy_left ul {
        flex-direction: column;
        align-items: center;
    }
    .footer { 
        margin-bottom: 40px;
    }
}

@media all and (max-width: 575px){
	
}

@media all and (max-width: 450px){
	
}