@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&family=Nunito:wght@300;400;500;600;700;800;900&display=swap'); 

html{
	font-size: 62.5%;
}
body{	
	font-size: 1.6rem; 
	font-weight: 400;
	font-family: 'Nunito', sans-serif;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
ul li a,a{
	text-decoration: none;
}

/*********************************/
/*********** Header CSS *********/
/*******************************/

.header_area {
	position: absolute;
	width: 100%;
	padding: 17px 0;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu ul li a {
	color: var(--brand-on-bg-brand-primary, #E3FFFE);
	text-align: center;
	font-family: Nunito;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	transition: 0.3s;
	display: inline-block;
}

.menu ul li a:hover{
	color: #30CF7C;
}

.menu ul {
	display: flex;
	gap: 12px;
	align-items: center;
}

.registration_btn {
	border-radius: 8px;
	border: 1px solid var(--cta-bg-cta-primary-default, #30CF7C);
	padding: 16px 24px; 
	font-family: 'Mulish', sans-serif;
}

.registration_btn:hover {
	background: var(--cta-bg-cta-primary-default, #30CF7C);
	color: #fff !important;
	border: 1px solid transparent;
}

.sube_btn {
	border-radius: 8px;
	background: var(--cta-bg-cta-primary-default, #30CF7C);
	padding: 16px 24px;
	border: 1px solid transparent;
}

.sube_btn:hover{
	border: 1px solid var(--cta-bg-cta-primary-default, #30CF7C);
	color: #fff !important;
	background: transparent;
}



/*********************************/
/*********** Banner CSS *********/
/*******************************/

.banner_area{
	background: url(../images/Hero.png) no-repeat scroll center center / 100% 100%;
}

.banner {
	max-width: 512px;
	width: 100%;
	padding: 166px 0 261px 0;
}

.banner h2 {
	color: var(--primary-color-bg-primary, #FCFCFC); 
	font-size: 64px;
	font-style: normal;
	font-weight: 700;
	line-height: 64px;
}

.banner h2 span{
	color: #30CF7C;  
}

.banner p {
	color: var(--primary-color-bg-primary, #FCFCFC); 
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	margin-top: 16px;
}


/*********************************/
/*********** Map CSS *********/
/*******************************/


.map_area {
	padding: 135px 0;
	background: var(--brand-on-bg-brand-primary, #E3FFFE);
}

.maps {
	display: flex;
	align-items: center;
	gap: 104px;
	flex-wrap: wrap;
}

.map_img{
	flex: 0 0 calc(60% - 52px) ; 
}

.maps_content{
	flex: 0 0 calc(40% - 52px) ; 
}

.maps_content h4 {
	color: #006C6B; 
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.maps_content p {
	color: #002E2D; 
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 24px;
}

.btn_1 {
	color: var(--cta-on-bg-cta-tertiary-default, #002E2D);
	text-align: center; 
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	border-bottom: 3px solid #30CF7C;
	position: relative;
	transition: 0.5s;
}

.btn_1 i {
	position: absolute;
	top: 4px;
	right: -12px;
	transition: 0.5s;
}

.btn_1:hover i { 
	right: -16px;
	transition: 0.5s;
}

.btn_1:hover{ 
	color: #006C6B;
	transition: 0.5s;
}

.map_img img {
	width: 100%;
}


/*********************************/
/*********** Footer CSS *********/
/*******************************/

.footer_area{
	padding: 112px 0 32px 0;
	background: var(--brand-on-bg-brand-secondary-content, #002E2D);
}

.footer{
	text-align: center;
	margin-bottom: 80px;
}

.footer_menu {
	display: flex;
	align-items: center;
	gap: 16px;
	justify-content: center;
	margin: 24px 0;
}

.footer_menu li a {
	color: #FFF; 
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.footer_social {
	display: flex;
	justify-content: center;
	gap: 16px;
	align-items: center;
}

.footer_social li a i {
	color: #fff;
	font-size: 24px;
}

.footer_copy_left a,
.footer_copy_left ul li p,
.footer_copy_left ul li a {
	color: #E3FFFE; 
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	transition: 0.3s;
}

.footer_copy_left a:hover,  
.footer_copy_left ul li a:hover {
	opacity: 0.83;
} 

.footer_copy_left {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer_copy_left ul {
	display: flex;
	gap: 24px;
}



/*********************************/
/*********** Mobile CSS *********/
/*******************************/

.mobile_bars{
	display: none;
}

/*Start Mobile Menu icon*/
#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
	width: 28px;
	height: 23px;
	position: relative;
	margin: 0px;
	-webkit-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	        transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}
#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: #fff;
	border-radius: 0px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	        transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
}
#nav-icon4 span:nth-child(2) {
	top: 8px;
	-webkit-transform-origin: left center;
	    -ms-transform-origin: left center;
	        transform-origin: left center;
}
#nav-icon4 span:nth-child(3) {
	top: 16px;
	-webkit-transform-origin: left center;
	    -ms-transform-origin: left center;
	        transform-origin: left center;
}
#nav-icon4.open span:nth-child(1) {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
	top: -2px;
	left: 2px;
}
#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
#nav-icon4.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	top: 18px;
	left: 2px;
}

.menu_icon {
	display: none;
}




/*********************************/
/*********** Search CSS *********/
/*******************************/

.search_area {
	padding: 48px 0 64px 0;
}

.search_input input {
	padding: 16px 12px 16px 32px;
	border-radius: 8px;
	border: 1px solid var(--cta-on-bg-cta-secondary-default, #BFCBC5);
	overflow: hidden;
	color: var(--brand-on-bg-brand-tertiary, #99ABAB);
	text-overflow: ellipsis;
	white-space: nowrap;
	font-family: Nunito;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	width: 100%;
}

.search_input {
	max-width: 298px;
	width: 100%;
	position: relative;
}

.search_input img {
	width: 16px;
	position: absolute;
	left: 12px;
	top: 19px;
}

.btn_2 {
	border-radius: 8px;
	background: var(--cta-bg-cta-primary-default, #30CF7C);
	padding: 16px 24px;
	color: var(--cta-on-bg-cta-primary-default, #003117);
	text-align: center;
	font-family: 'Mulish', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	border: none;
}

.btn_3 {
	padding: 16px 16px 16px 12px;
	border-radius: 8px;
	border: 1px solid var(--cta-on-bg-cta-secondary-default, #BFCBC5);
	color: var(--cta-on-bg-cta-primary-default, #003117);
	text-align: center;
	font-family: 'Mulish', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	border: none;
}

.search_box {
	display: flex;
	gap: 12px;
	justify-content: center;
	margin-bottom: 32px;
} 

.search_slide p {
	color: var(--brand-on-bg-brand-tertiary, #99ABAB);
 
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: 4px;
}

.search_slide img {
	width: 24px !important;
	margin: 0 auto;
}

.search_slide {
	text-align: center;
}

.search_carousel{
	position: relative;
}

.search_carousel .owl-next {
	position: absolute;
	right: -10px;
	bottom: 38px;
	z-index: 99;
}

.owl-next:hover {
	background: transparent !important;
}




/*********************************/
/*********** Service CSS *********/
/*******************************/


.service_section_title h3 {
	color: #000;
	font-family: 'Nunito', sans-serif;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.service_section_title p {
	color: #000;
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.service_section_title{
	margin-bottom: 32px;
}

.single_service {
	border-radius: 12px;
	border: 1px solid var(--primary-color-on-bg-primary-icon, #F29727);
	background: var(--primary-color-bg-primary, #FCFCFC);
	margin-bottom: 16px;
}

.service_header {
	margin: 8px 0;
	padding: 0 8px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 8px;
}

.service_title h4 {
	color: var(--primary-color-on-bg-primary-content, #002E2D);

	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.service_title p {
	color: var(--primary-color-on-bg-primary-content, #002E2D);

	font-family: 'Nunito', sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.btn_4 {
	color: #FFF;
	text-align: center;
	font-family: 'Nunito', sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	border-radius: 13.626px;
	border: 1.703px solid #A35C05;
	background: var(--primary-color-on-bg-primary-icon, #F29727);
	box-shadow: 0px 3.406px 0px 0px #A35C05;
	padding: 2px 4px;
}

.service_title_header {
	display: flex;
	align-items: flex-start;
	gap: 4px;
}

.service_image img {
	width: 100%;
}

.service_rating i {
	color: #F29727;
}

.service_info {
	padding: 8px 12px;
}

.service_rating p {
	color: var(--primary-color-on-bg-primary-content, #002E2D);
  
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.service_info h3 {
	overflow: hidden;
	color: var(--primary-color-on-bg-primary-title, #006C6B);
	text-overflow: ellipsis; 
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-top: 8px;
}

.service_info p {
	color: var(--primary-color-on-bg-primary-content, #002E2D);
 
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin: 4px 0;
}


.service_info span {
	color: var(--primary-color-on-bg-primary-content, #002E2D);
 
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.service_area {
	margin-bottom: 48px;
}

.service_rating {
	display: flex;
	align-items: center;
	gap: 4px;
}

.service_price p {
	color: var(--primary-color-on-bg-primary-content, #002E2D);
 
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.service_price {
	display: flex;
	align-items: center;
	gap: 4px; 
	margin-top: 8px;
}

.service_price h3 {
	color: var(--primary-color-on-bg-primary-content, #002E2D);
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.service_image a img {
	width: 25px;
}

.service_image {
	position: relative;
}

.service_image a {
	position: absolute;
	right: 15px;
	top: 5px;
}

.service_btn{
	margin-top: 32px;
}

.service_btn a {
	border-radius: 8px;
	padding: 16px 12px 16px 16px; 
	border: 1px solid var(--cta-on-bg-cta-secondary-default, #BFCBC5);
}

.btn_5{
	color: #FFF;
	text-align: center;
	font-family: 'Nunito', sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding: 2px 4px;
	border-radius: 13.626px;
	border: 1.703px solid #006282;
	background: var(--complementary-bg-complementary-n-1, #09C);
	box-shadow: 0px 3.406px 0px 0px #006282;
}


/*********************************/
/*********** Ideal CSS *********/
/*******************************/

.ideal_area{
	background: url(../images/ideal/bg.png) no-repeat scroll center center / cover;
	margin-bottom: 98px;
	position: relative;
}

.ideal_single h3 {
	color: var(--primary-color-on-bg-primary-title, #006C6B);
	text-align: center; 
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.ideal_single p {
	color: var(--primary-color-on-bg-primary-content, #002E2D);
	text-align: center;
	font-size: 16px;
	font-style: normal;
	margin-top: 4px;
	font-weight: 400;
	line-height: normal;
	max-width: 469px;
	width: 100%;
	margin: 4px auto 0 auto;
}

.ideal_btn {
	text-align: center;
	margin-top: 24px;
}

.ideal_box{
	position: relative;
	padding: 220px 0 187px 0;
}

.ideal_left_img img {
	position: absolute;
	top: 0;
	height: 100%;
	left: 0;
}

.ideal_carousel .owl-dot span {
	width: 77px !important;
	background: #99ABAB !important;
}

.btn_3 i {
	transform: translateY(0px);
}

.ideal_carousel .owl-dot.active span { 
	background: #30CF7C !important;
}

.owl-dots {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	bottom: -155px;
}

.desktop_view{
	display: block;
}

.mobile_view{
	display: none;
}




.ideal_carousel  .owl-dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -145px;
}
/*********************************/
/*********** Service carousel CSS *********/
/*******************************/
.service_carousel{
	overflow-x: hidden;
	position: relative;
	margin-bottom: 98px;
}
.service_carousel_box {
	background: var(--primary-color-on-bg-primary-content, #002E2D);
	padding: 50px 0 50px 50px;
}
.service_carousel_box .service_section_title p,
.service_carousel_box .service_section_title h3 {
	color: #fff; 
}
.service_carousel_box .service_btn a { 
	border: 1px solid var(--cta-on-bg-cta-secondary-default, #30CF7C);
	color: #fff;
}
.service_carousel_box > img {
	width: 24px !important;
}
.service_caraousel_left img {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	z-index: -1;
}
/*********************************/
/*********** Package CSS *********/
/*******************************/
.package_area {
	margin-bottom: 93px;
}
.single_package {
	border-radius: 24px;
	background: var(--brand-on-bg-brand-primary, #E3FFFE);
	padding: 60px 72px;
	box-sizing: border-box;
	height: 100%;
}
.package_img {
	text-align: center; 
	margin-bottom: 40px;
}
.single_package_size h3 {
	color: var(--primary-color-on-bg-primary-content, #002E2D);
 
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 17px;
}
.single_package_size h3 span {
	color: #006C6B;
}
.single_package_size { 
	max-width: 352px;
	width: 100%;
	box-sizing: border-box;
	margin: 0 auto;
}
.single_package_size ul li p {
	color: var(--primary-color-on-bg-primary-content, #002E2D);
 
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.single_package_size ul li p span {
	color: #F29727;
}
.single_package_size ul li {
	display: flex;
	align-items: flex-start;
	gap: 12px;
	margin-top: 24px;
}
.second_single_package{ 
	background: var(--primary-color-on-bg-primary-title, #006C6B);
}
.second_single_package .single_package_size h3 span {
	color: #002E2D; 
}
.second_single_package .single_package_size h3 {
	color: #fff; 
}
.second_single_package .single_package_size p {
	color: #fff; 
}

/* 
font-family: 'Mulish', sans-serif;

font-family: 'Nunito', sans-serif;
 */



